html, body {
  width: 100%;
  height: 100%;
  margin: 0; 
  overflow: hidden; 
}

.container {
  padding: 0; 
}

.bg-homepage {
  background-color: #f0f5fa; 
}

.content-column {
  max-height: calc(100vh - 60px); 
}
